h1{
    color:black;
    background-color: white;
    padding: 50px;
    border: 10px solid;
    margin: 50px;
    display: inline-block;

}

div {
    width: 300px;
    background-color: white;
    padding: 30px;
    border: 10px solid;
    margin: 50px;
}

body {
    background-image:url(JPGs/background3.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no repeat;
    background-size: cover;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
}

input[type="number"] {
    width: 40px;
}
